#content.commands-page

	h2 Server Commands

	p 
		strong Warp Points:
	ul
		li See /warp list for current warps
	p 
		strong Available Commands
	ul
		li /help [Page] - Shows a list of commands. 7 per page.
		li /online - Shows a list of players
		li /home - Teleports you home, see /home help for more commands
		li /me [Message] - * hey0 says hi!
		li /msg [Player] [Message] - Sends a message to player
		li /spawn - Teleports you to spawn
		li /motd - Displays the MOTD
		li /mvlist - Lists worlds available to teleport to
		li /mvtp - Teleport to another world (creative or adventure)
	p 
		strong VIP Commands (if you help pay):
	ul
		li /item [ID] [Amount] <Player> - Gives items to yourself
		li /time [Time|day|night] - Changes time
		li /tp <Player> - Teleports you to named player
		li /whois <Player> - Info about player
		li /warp [warpname] - Warp to a warp point. See /warp help for more commands
		li /jumpto - Jumps to the block you're pointed at
