script(type='text/javascript')
	jQuery(document).ready(function() {
		jQuery.get('/news', function(data) {
			jQuery('#news-content').html(data);
			jQuery("abbr.timeago").timeago();
		});
		jQuery.get('/users/online', function(data) {
			jQuery('#users-content').html(data);
			jQuery("abbr.timeago").timeago();
		});
	});

#content
	#sidebar
		#news-block.side-block
			a(href='').rss-link RSS
			h2 News
			#news-content
				img(src='/loader.gif')
		#users-block.side-block
			h2 Players
			#users-content
				img(src='/loader.gif')
	#info
		p 
			strong Server Address:
			|  minecraft.example.com
		table(cellspacing=0, cellpadding=5, border=0)
			tr
				th(colspan=2) Status
			tr.online
				td Minecraft Server Beta 1.5_02
			tr.online
				td monsters
			tr.online
				td CraftBukkit 0.1 snapshot
			tr.online
				td Warps & Homes
			tr
				td CraftIRC (#grminecraft on freenode)
			tr.online
				td WorldEdit (admins only)
			tr
				td JSApi Plugin & tunnel boring machine


