!!! 5
html
	head
		title= config.title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='shortcut icon', href='/favicon.png')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
		script(src='/js/jquery.timeago.js')
		script(type='text/javascript')
			jQuery(document).ready(function() {
				jQuery("abbr.timeago").timeago();
			});
		- if(config.googleAnalyticsID)
			script(type='text/javascript')
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', config.googleAnalyticsID]);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();

	body
		#header
			h1 #{config.title}
			ul#nav
				li
					a(href='/') Home
				li
					a(href='/commands') Commands
				li
					a(href='/users/online') Players
				li
					a(href='/world/creative/map') Creative Map
				li
					a(href='/world/adventure/map') Adventure Map
		#page-content
			!= body
